:root {
  --main-font: "Quintessential", serif;
  --secondary-font: "Amatic SC", sans-serif;
  --font-size-title: 36px;
  --font-size-form: 20px;
  --font-size-container: 18px;
  --font-color-primary: #2b36ae;
  --font-color-secondary: #a3aafc;
  --font-color-tertiary: #f9612a;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  font-family: var(--main-font);
  background-color: rgb(255, 234, 234);
  letter-spacing: 0.5px;
}
header {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin: 5px;
  color: var(--font-color-primary);
  border: 2px solid var(--font-color-secondary);
  box-shadow: 0 0 5px var(--font-color-secondary),
    0 0 10px var(--font-color-secondary);
}
header img {
  height: 120px;
  width: 120px;
}
header h3 {
  font-family: var(--secondary-font);
  font-size: var(--font-size-title);
}
#form-container {
  box-shadow: 0 0 5px var(--font-color-secondary),
    0 0 10px var(--font-color-secondary);
}
#plan-form {
  padding-bottom: 20px;
  font-size: var(--font-size-form);
}
input {
  width: 40%;
  max-width: 80%;
  height: 40px;
}
#item-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#plan-item {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 15px;
}
#plan-item:focus {
  outline: none;
  border-color: var(--font-color-primary);
}
#plan-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 15px;
  padding: 8px;
}
#plan-info > * {
  padding: 8px;
}
#submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-style {
  color: white;
  border: none;
  background-color: var(--font-color-primary);
  font-weight: 500;
  padding: 5px;
}
.button-style-disabled {
  color: white;
  border: none;
  background-color: var(--font-color-secondary);
  font-weight: 500;
  padding: 5px;
}
.delete-button {
  color: white;
  border: none;
  background-color: var(--font-color-tertiary);
  font-weight: 600;
  padding: 5px;
}
.warning-text {
  color: var(--font-color-tertiary);
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
}

input,
select,
button,
label {
  /* display: flex; */
  font-family: inherit;
  font-size: inherit;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  border-radius: 5px;
}
#due-date {
  width: 170px;
}
#list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-container);
  margin: 20px 40px;
}

.title-container {
  display: grid;
  grid-template-columns: 10% 30% 10% 10% 10% 10% 10%; /*5% 10%;*/
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--font-color-secondary);
  padding-bottom: 20px;
  gap: 10px;
  width: 100%;
}
.task-container {
  display: grid;
  grid-template-columns: 10% 30% 10% 10% 10% 10% 10%; /*5% 10%;*/
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.item-description {
  border: none;
  background-color: inherit;
  width: auto;
}
